*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    overflow-y: hidden;
}

header {
    background-color: #007bbb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    position: relative;
}



#logo {
    position: absolute;

    left: 10px;  
    width: 120px; 
}
.header-icons {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-voltar {
    position: absolute;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.titulo-barra {
    background-color: orange;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    position: relative;
}


#return-icon{
    width: 42px;
}


.container-pai {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 238, 238);
    padding: 30px;
    flex-direction: column;
    gap:30px
}

.extrato-container {
    font-size: 20px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    padding: 20px;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
}



#usuario{
 width: 100px;
}

#comprovante{

width: 70px;
}

footer {
    background-color: #007bbb;
    color: white;
    text-align: center;
    padding: 60px;
    font-size: 16px;
    border-top: 2px solid #005f8c;
}
