<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu extrato</title>
    <link rel="stylesheet" href="./meuExtrato.css">
</head>
<body>

    <header>
        <img src="./img/Logo_PI 2.png" alt="" id="logo">
        <img src="./img/image 30.png" alt="" id="usuario">
    
        <div class="header-icons"> 
            
            <img src="img/Group 6.png" alt="">
            <img src="./img/Group 16.png" alt=""  >
            
        </div>
    </header>

    <div class="titulo-barra">
        <div class="menu-voltar">
            <img src="./img/botao-voltar.png" alt="" id="return-icon">
        </div>
        Meu extrato
    </div>
<main>
    <div class="extrato-container">
        <div class="info">
            <p>Compra/Recebido &lt;Forma de Pagamento&gt;</p>
            <h2>R$ xx</h2>
            <p>&lt;Nome da Instituição da Compra&gt;</p>
        </div>
        <div class="comprovante">
            <img src="./img/extrato.png" alt="Comprovante" id="comprovante">
            <p>(Comprovante)</p>
        </div>
    </div>

    <div class="extrato-container">
        <div class="info">
            <p>Compra/Recebido &lt;Forma de Pagamento&gt;</p>
            <h2>R$ xx</h2>
            <p>&lt;Nome da Instituição da Compra&gt;</p>
        </div>
        <div class="comprovante">
            <img src="img/extrato.png" alt="Comprovante" id="comprovante">
            <p>(Comprovante)</p>
        </div>
    </div>

    <div class="extrato-container">
        <div class="info">
            <p>Compra/Recebido &lt;Forma de Pagamento&gt;</p>
            <h2>R$ xx</h2>
            <p>&lt;Nome da Instituição da Compra&gt;</p>
        </div>
        <div class="comprovante">
            <img src="./img/extrato.png" alt="Comprovante" id="comprovante">
            <p>(Comprovante)</p>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2025 SeuBanco. Todos os direitos reservados.</p>
</footer>

</body>
</html>
