<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sacar</title>
    <link rel="stylesheet" href="../CSS/estruture.css">
    <link rel="stylesheet" href="../CSS/sacar.css">
</head>

<body>
    <header>
        <img src="../IMG/Logo_PI 2.png" alt="Logo" id="logo">
        <img src="../IMG/user.png" alt="Usuário" id="usuario">

        <div class="header-icons">
            <img src="../IMG/interrogacao.png" alt="Dúvidas">
            <img src="../IMG/leave.png" alt="Sair">
        </div>
    </header>
    <div class="container-pai">
        <div class="container">
            <h2>Sacar</h2>
            <div class="conteudo">
                <input type="number" id="valor" placeholder="Valor">
                <input type="password" id="senha" placeholder="Senha">
                <button class="btn sacar">Sacar</button>
                <a href="../index.html"><button class="btn voltar">Voltar</button></a>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Senac Bank. Todos os direitos reservados.</p>
    </footer>

</body>

</html>