<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depositar</title>
    <link rel="stylesheet" href="./deposito.css">
</head>
<body>

    <header>
        <img src="./img/Logo_PI 2.png" alt="" id="logo">
        <img src="./img/image 30.png" alt="" id="usuario">
    
        <div class="header-icons"> 
            
            <img src="img/Group 6.png" alt="">
            <img src="./img/Group 16.png" alt=""  >
            
        </div>
    </header>

    <div class="titulo-barra">
        <div class="menu-voltar">
            <img src="./img/botao-voltar.png" alt="" id="return-icon">
        </div>
        Depositar
    </div>
<div class="container-pai">
    <div class="container">
        <h2>Quanto você deseja Depositar?</h2>
        <div class="conteudo">        
            <input type="number" id="valor" placeholder="Valor:">
        </div>
    </div>
</div>

    <script>
        function realizarSaque() {
            const valor = document.getElementById("valor").value;

            if (!valor || !senha) {
                alert("Por favor, preencha todos os campos.");
                return;
            }

            alert(`Deposito de R$ ${valor} solicitado com sucesso!`);
        }
    </script>

<footer>
    <p>&copy; 2025 SeuBanco. Todos os direitos reservados.</p>
</footer>

</body>
</html>
