/* Reset básico */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Define altura total da página */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #007bbb;
    padding: 15px 30px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 50px;
}

#usuario {
    width: 60px;
    position: absolute;
    left: 48.5%;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icons img {
    width: 30px;
    transition: 0.1s;
}

.header-icons img:hover{
    transform: scale(1.1);
}

/* Configuração da área principal */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

/* Botões padrões */
.btn {
    background: orange;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: rgb(143, 93, 1);
    transform: scale(1.03);
}

.titulo-barra {
    background-color: orange;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    position: relative;
}

footer {
    padding: 20px;
    background-color: #007bbb;
    color: white;
    margin-top: auto;
}

.alert {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Estilo para alerta de sucesso (verde) */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;

}
  
/* Estilo para alerta de erro (vermelho) */
.alert-erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.caixinha-header {
    margin-bottom: 20px;
}

.caixinha-header h1 {
    font-size: 1.7em;
    color: #1a2530;
    margin-bottom: 6px;
    font-weight: 600;
}

.caixinha-header p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
    margin-bottom: 18px;
}

.caixinha-saldo {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    margin-bottom: 18px;
    text-align: left;
}

.caixinha-saldo p {
    margin: 6px 0;
    font-size: 1em;
    color: #333;
}

.caixinha-saldo p strong {
    color: #1a2530;
}

