/* Container principal */
.container {
    margin: 20px auto;
    padding: 30px;
    width: 60%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: start;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.user-name {
    color: orange;
}

.titulo-nome-id{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilização do saldo */
.saldo {
    margin: 20px 0;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px #acacac;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-icon {
    display: flex;
    align-items: center;
    font-size: 2em;
}

.text-icon img {
    width: 50px;
    margin-right: 10px;
}

.saldo-valor {
    font-size: 3em;
    font-weight: bold;
    color: #333;
}

/* Botão Ver Extrato - Personalização específica */
.ver-extrato {
    width: 24%;
    height: 70px;
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ver-extrato img {
    width: 35px;
}

/* Área de navegação principal */
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.buttons button{
    width: 100%;
}

.slogan {
    width: 50%;
    border-radius: 15px;
    border: 2px solid orange;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}