<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferir</title>
    <link rel="stylesheet" href="/CSS/estruture.css">
    <link rel="stylesheet" href="/CSS/transferir.css">
</head>

<body>

    <header>
        <img src="/IMG/Logo_PI 2.png" alt="Logo" id="logo">
        <img src="/IMG/user.png" alt="Usuário" id="usuario">
    
        <div class="header-icons"> 
            <a href=""><img src="/IMG/interrogacao.png" alt="Dúvidas"></a>
            <a href="/login"><img src="/IMG/leave.png" alt="Sair"></a>
        </div>
    </header>

    <h1 class="titulo-barra">Transferência</h1>
    <main>
        <div class="container">
            <h2>Faça sua transferência aqui:</h2>
            <div class="conteudo">
                <input type="number" id="valor" placeholder="N° da conta:">
                <input type="password" id="senha" placeholder="Valor:">
                <button class="btn transferir">Transferência</button>
                <a href="/index"><button class="btn voltar">Voltar</button></a>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 SeuBanco. Todos os direitos reservados.</p>
    </footer>

</body>

</html>